@keyframes line-grow {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes line-grow-vertical {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}


